button,
label,
input,
select,
progress,
meter {
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    padding: 5px;
}

.body {
    border: 1px solid red;
    overflow: hidden;

}

.hero__header {
    height: 10rem;
    /* Flexbox stuff */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/hero.jpg) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/hero.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/hero.jpg) no-repeat;
    background-size: cover;
    grid-column: 1/4;

}

.hero__title {
    font-size: clamp(1em, 8vw, 3em);
    text-align: center;
    color: white;

}

.sub-heading {
    font-size: clamp(1em, 5vw, 1.3em);
    color: white;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.main {
    border: 1px solid black;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; */
}

.main-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: aquamarine;

}

.aside__button {
    display: block;

}

/*form style*/

.main__form_grid {

    width: 50%;
    /* height: 30rem; */
    border: 1px solid blue;
}

.form {
    width: 100%;
    height: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #fff;
}

.form>* {
    margin-left: 10px;
}


.input {
    width: 100%;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.radio {
    width: 5%;
}

.page {
    width: 20%;
}

.label {
    /* margin-right: 3rem; */
    padding: 12px 12px 12px 0;
}

.div__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.button__submit {
    /* border: 2px solid #333; */
    width: 30%;
    border-radius: 5px;
    background: none;
    /* margin: 0 auto; */
}

/**CARD SECTION***/

.main_card {
    border: 1px solid orange;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    grid-auto-rows: 300px;
    grid-gap: 3rem;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

}



.card {
    border: 1px solid blue;
    /* height: 100px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}